@import "tailwindcss";

:root {
  --background: #f5f2f0;

  --primary: #2e1a47;
  --dark: #2b1b44;
  --accent: #512d6d;
  --violet: #a855f7;
  --ink: #221c35;
  --muted: #75787b;
  --soft: #a7adb8;
  --divider: #e5e7eb;
}

body {
  margin: 0;
  background: var(--background);
  font-family: var(--font-barlow), sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
